{# src/Movie/ListBundle/Resources/views/Movie/edit.html.twig #}

{% extends "MovieListBundle::layoutBundleMovie.html.twig" %}

{% block title %}
  Modification d'un film - {{ parent() }}
{% endblock %}

{% block body_title %}
		<h1>Modification</h1>
	{% endblock %}
{% block movie_body %}

  <div class="well">
    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}
		
		<div class="form-group">
			{{form_label(form.isPret,"En prêt",{'label_attr':{'class':'col-sm-3 control-label'}})}}
			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.isPret) }}
			
			<div class="col-sm-4">
				{# Génération de l'input. #}
				{{ form_widget(form.isPret, {'attr': {'class': 'checkbox'}}) }}
			</div>
		</div>
		
		<!-- Sous formulaire image -->
		<div class="form-group">
			{{form_label(form.image.file,"Image",{'label_attr':{'class':'col-sm-3 control-label'}})}}
			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.image.file) }}
			
			<div class="col-sm-4">
				{# Génération de l'input. #}
				{{ form_widget(form.image.file, {'attr': {'class': 'file'}}) }}
			</div>
		</div>
		
		<!-- Sous formulaire type movie -->
		<div class="form-group">
			{{form_label(form.typeMovies,"Type de film",{'label_attr':{'class':'col-sm-3 control-label'}})}}
			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.typeMovies) }}
			
			<div class="col-sm-4">
				{# Génération de l'input. #}
				{{ form_widget(form.typeMovies, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		

		{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
		{{ form_widget(form.sauvegarder, {'attr': {'class': 'btn btn-primary'}}) }}

		{# Génération automatique des champs pas encore écrits.
		 Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
		 et tous les champs cachés (type « hidden »). #}
		{{ form_rest(form) }}

		{# Fermeture de la balise <form> du formulaire HTML #}
	{{form_end(form)}}
  </div>

{% endblock %}