{# src/Movie/ListBundle/Resources/views/Movie/view.html.twig #}

{#{% extends "MovieListBundle::layoutBundleMovie.html.twig" %}#}

{% block title %}
  
{% endblock %}
	{% block body_title %}
		<h1>Détail du film</h1>
	{% endblock %}
{% block movie_body %}
	{% if movie.image %}
		<img src="{{ movie.image.webPath | imagine_filter('movieThumb') }}" alt="{{ movie.title }}" title="{{ movie.title }}" />	
	{% else %}
		<img src="{{ 'coreImages/movie_default.png' | imagine_filter('movieThumb') }}" alt="{{ movie.title }}" title="{{ movie.title }}" />	
	{% endif %}
	
  <h2>{{ movie.title }}</h2>
  <i>nbDisc {{ movie.nbDisc }}, numMovie {{ movie.numMovie }}</i>

  <div class="well">
    
  </div>

  <p>
    <a href="#" class="btn btn-default movie-list">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="#" class="btn btn-default movie-edit" id="{{movie.id}}">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le film
    </a>
    <a href="{{ path('movie_list_delete', {'id': movie.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le film
    </a>
  </p>

{% endblock %}
<script>
$(".movie-edit").click(function(e){
    showLoader();
    e.preventDefault(); // Empêche le navigateur de suivre le lien.
    var id = $(this).attr("id");
    editMovie(id);
});
$(".movie-list").click(function(e){
    showLoader();
    e.preventDefault(); // Empêche le navigateur de suivre le lien.
    listMovie(1);
});
</script>